{# footer atelier du trait #}
<footer class="footer container mt100">
<hr class="col-6 m-a color8 mt50">
    <div class="row t3">
        {# logo #}
        {# <div class="col-2 col-md-1 m-a mt40">
            <img class="logo img w-100" src="{{ theme.link }}/assets/img/tipo.png" alt="logo">
        </div> #}
        <div class="col-12 col-md-5 mt40 mb20 order-1">
            <a class="d-block  link t-a-center mb20" href="{{site.url}}/mentions-legales">
                mentions légales
            </a>
            <a class="d-block link t-a-center" href="{{site.url}}/contacter-le-webmaster">
                contacter le webmaster
            </a>
        </div>
        <div class="col-md-2 col-4 mt40 mb20 m-a order-3 order-md-2">
            <a class="w-25 m-a col-md-2 d-block link t-a-center t3 mb20 t-md-4" target="_blank" href="https://www.facebook.com/Sylvia-Trouv%C3%A9-36085699100624">
            </a>
            <img class="img w-40 m-a" src="{{ theme.link }}/assets/img/petitpas.png" alt=" logo">
        </div>
       
        <div class="col-12 col-md-5 mt40 mb20 order-2 order-md-3">
            <a class="d-block link t-a-center mb20" href="{{site.url}}/politique-de-confidentialite">
                politique de confidentialité
            </a>
            <a class="d-block link t-a-center" href="{{site.url}}">
                www.sylviatrouve.com
            </a>
        </div> 
        <p class="col-12 t-md-2 d-block link t-a-center order-4" h>
                tous droits réservés - 2019
        </p>

    </div>
</footer>