{# dropdownn md #}
<div class="d-none d-md-block col-md-10 mt20">
    
    <div class="menu header-menu">
        <!-- Dropdown menu links -->
        <ul class="t-a-center d-flex justify-content-center t1 t-md-3 w-100 m-a">

            <li class="wmax-12 m-a link d-block t-a-center item-menu link t-a-center ">
                <a href="{{ site.url }}/#article-anch">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="wmax-12 t-a-center item-menu m-a link t-a-center ">
                <a class="item-menu d-block" href="{{ site.url }}/bio/#article-anch">
                    {{ 'bio'|upper }}
                </a>
            </li>
            <li class="wmax-12 t-a-center item-menu m-a link t-a-center ">
                <a class="d-block" href="{{ site.url }}/les-oeuvres/">
                    {{ 'oeuvres'|upper }}
                </a>
            </li>
            <li class="wmax-12 t-a-center item-menu m-a link t-a-center ">
                <a class="d-block" href="{{ site.url }}/lactu">
                    {{ 'l\'actu'|upper }}
                </a>
            </li>
            <li class="wmax-12 item-menu m-a link t-a-center ">
                <a class="d-block" href="{{ site.url }}/ateliers-stages">
                    {{ 'stages/ateliers'|upper }}
                </a>
            </li>

            <li class="wmax-12  m-a link t-a-center ">
                <a class="d-block" href="{{ site.url }}/contact/#article-anch">
                    {{ 'contact'|upper }}
                </a>
            </li>
            <li class="wmax-10 m-a link t-a-center ">
                <a class="link-logo d-block" target="_blank" href="https://www.facebook.com/Sylvia-Trouv%C3%A9-360856991006240/">
                    <img src="{{ theme.link }}/assets/img/fb.png" alt="" class="img w-10">
                </a>
            </li>

        </ul>
    </div>
</div>